.coin-details {
  display: flex;
  align-items: center;

  .coin- {
    &name {
      font-size: 1rem;
    }

    &value {
      font-size: 1rem;
      font-weight: 700;

      span {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    &data {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      font-size: 1rem;
      font-weight: 700;

      span {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .coin-details {
    .coin- {
      &name {
        font-size: 2rem;
      }

      &value {
        font-size: 2rem;

        span {
          font-size: 1rem;
        }
      }

      &data {
        flex-direction: row;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .coin-details {
    .coin- {
      &name {
        font-size: 3rem;
      }

      &value {
        font-size: 3rem;

        span {
          font-size: 2rem;
        }
      }

      &data {
        flex-direction: row;
      }
    }
  }
}
