<nz-table
  #basicTable
  [nzBordered]="true"
  [nzData]="coins"
  [nzFrontPagination]="false"
>
  <thead>
    <tr>
      <th [nzAlign]="'right'">Date</th>
      <th [nzAlign]="'right'">High</th>
      <th [nzAlign]="'right'">Low</th>
      <th [nzAlign]="'right'">Open</th>
      <th [nzAlign]="'right'">Close</th>
      <th [nzAlign]="'right'">Volume</th>
      <th [nzAlign]="'right'">MarketCap</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td [nzAlign]="'right'">{{ data.date | date: "dd-MM-yyyy" }}</td>
      <td [nzAlign]="'right'">
        <span class="space-between"
          >$ {{ data.high | numberWithSeparator }}</span
        >
        <ng-container *ngIf="i < basicTable.data.length - 1">
          <app-comparable-icon
            [value]="basicTable.data[i].high"
            [previousValue]="basicTable.data[i + 1].high"
          ></app-comparable-icon>
        </ng-container>
      </td>
      <td [nzAlign]="'right'">
        <span class="space-between"
          >$ {{ data.low | numberWithSeparator }}</span
        >
        <ng-container *ngIf="i < basicTable.data.length - 1">
          <app-comparable-icon
            [value]="basicTable.data[i].low"
            [previousValue]="basicTable.data[i + 1].low"
          ></app-comparable-icon>
        </ng-container>
      </td>
      <td [nzAlign]="'right'">
        <span class="space-between">{{ data.open | numberWithSeparator }}</span>
        <ng-container *ngIf="i < basicTable.data.length - 1">
          <app-comparable-icon
            [value]="basicTable.data[i].open"
            [previousValue]="basicTable.data[i + 1].open"
          ></app-comparable-icon>
        </ng-container>
      </td>
      <td [nzAlign]="'right'">
        <span class="space-between">{{
          data.close | numberWithSeparator
        }}</span>
        <ng-container *ngIf="i < basicTable.data.length - 1">
          <app-comparable-icon
            [value]="basicTable.data[i].close"
            [previousValue]="basicTable.data[i + 1].close"
          ></app-comparable-icon>
        </ng-container>
      </td>
      <td [nzAlign]="'right'">
        <span class="space-between">{{
          data.volume | numberWithSeparator
        }}</span>
        <ng-container *ngIf="i < basicTable.data.length - 1">
          <app-comparable-icon
            [value]="basicTable.data[i].volume"
            [previousValue]="basicTable.data[i + 1].volume"
          ></app-comparable-icon>
        </ng-container>
      </td>
      <td [nzAlign]="'right'">
        <span class="space-between">{{
          data.marketCap | numberWithSeparator
        }}</span>
        <ng-container *ngIf="i < basicTable.data.length - 1">
          <app-comparable-icon
            [value]="basicTable.data[i].marketCap"
            [previousValue]="basicTable.data[i + 1].marketCap"
          ></app-comparable-icon>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>
