<ng-container [ngSwitch]="comparableCoins.currentCoin.status">
  <nz-tag *ngSwitchCase="status.Increased" [nzColor]="'#27ae60'">
    <i nz-icon nzType="up"></i>
    <span>{{ value }} %</span>
  </nz-tag>
  <nz-tag *ngSwitchCase="status.Stalled" [nzColor]="'#2c3e50'">
    <i nz-icon nzType="right"></i>
    <span>{{ value }} %</span>
  </nz-tag>
  <nz-tag *ngSwitchCase="status.Decreased" [nzColor]="'#c0392b'">
    <i nz-icon nzType="down"></i>
    <span>{{ value }} %</span>
  </nz-tag>
</ng-container>
